page-store {
    .background{
        background-color: map-get($colors, c_store);
    }
    .title-store{
        margin-left: 1.7em;
        margin-right: 1.7em;
        padding: 12px;
        background-color: #566b8d;
        color: white;
        border-radius: 15px 0px 30px 0px;
        box-shadow: 0px 1px 12px -1px rgba(0,0,0,0.75);
    }
    .store-img{
        width: 55px;
        height: 55px;
    }

    .Sturdy{
        //border: 3px solid #00bdde;
        //background: #2296d5;
        border-image-source: linear-gradient(25deg,#0063c5 15%,#00efec);
        background-image: radial-gradient(#3dc7ff 0%,#0059a1 100%);
        border-width: 4px;
        border-style: solid;
        border-image-slice: 20;
        margin: 3px;
        height: 80px !important;
        width: 80px;
        padding-top: 11px;
    }
    .Handmade{
        //border: 3px solid #7edb02;
        //background: #379506;
        border-image-source: linear-gradient(25deg,#008a09 15%,#9eef00);
        background-image: radial-gradient(#5bad03 0%,#01700a 100%);
        border-width: 4px;
        border-style: solid;
        border-image-slice: 20;
        margin: 3px;
        height: 80px !important;
        width: 80px;
        padding-top: 11px;
    }

    .Quality{
        //border: 3px solid #c32fe8;
        //background: #9a31c2;
        border-image-source: linear-gradient(25deg,#8037d7 15%,#df2cef);
        background-image: radial-gradient(#d27bf4 0%,#7907a5 100%);
        border-width: 4px;
        border-style: solid;
        border-image-slice: 20;
        margin: 3px;
        height: 80px !important;
        width: 80px;
        padding-top: 11px;
    }

    .Fine{
        //border: 3px solid #ffa256;
        //background: #c36d3a;
        border-image-source: linear-gradient(25deg,#c36d3a 15%,#ffa256);
        background-image: radial-gradient(#ffa256 0%,#c36d3a 100%);
        border-width: 4px;
        border-style: solid;
        border-image-slice: 20;
        margin: 3px;
        height: 80px !important;
        width: 80px;
        padding-top: 11px; 
    }

    .container-img{
        float: left
    }

    .container-text{
        margin-left: 4.5em;
     h3{
         margin-bottom: 3px;
         font-size: 13px;
     }
     p{
         margin-top: 0px;
         font-size: 11px;
     }
    }
    .grid{
        padding: 0px !important;
        margin-left: 1.5em;
    }
    
    .scroll-content{
        padding: 0px !important;
    }

    .second-container{
        margin-bottom: 1em;
    }

}
