page-store {
    .background{
        background-color: map-get($colors, c_store);
    }
    .title-store{
        margin-left: 0.7em;
        margin-right: 0.7em;
        padding: 12px;
        background-color: #566b8d;
        color: white;
        border-radius: 15px 0px 30px 0px;
        box-shadow: 0px 1px 12px -1px rgba(0,0,0,0.75);
    }
    .store-img{
        width: 55px;
        height: 55px;
    }

    .Sturdy{
        border-image-source: linear-gradient(25deg,#0063c5 15%,#00efec);
        background-image: radial-gradient(#3dc7ff 0%,#0059a1 100%);

    }
    .Handmade{
        border-image-source: linear-gradient(25deg,#008a09 15%,#9eef00);
        background-image: radial-gradient(#5bad03 0%,#01700a 100%);
    }

    .Quality{
        border-image-source: linear-gradient(25deg,#8037d7 15%,#df2cef);
        background-image: radial-gradient(#d27bf4 0%,#7907a5 100%);

    }

    .Fine{
        border-image-source: linear-gradient(25deg,#c36d3a 15%,#ffa256);
        background-image: radial-gradient(#ffa256 0%,#c36d3a 100%);
 
    }

    .container-img{
        float: left
    }

    .container-text{
        margin-left: 4.5em;
     h3{
         margin-bottom: 3px;
         font-size: 13px;
     }
     p{
         margin-top: 0px;
         font-size: 11px;
     }
    }
    .grid{
        padding: 0px !important;
        margin-left: 1.5em;
    }
    
    .scroll-content{
        padding: 0px !important;
    }

    .second-container{
        margin-bottom: 1em;
    }

    ion-card {
        border-width: 4px;
        border-style: solid;
        border-image-slice: 20;
        position: relative;
        text-align: center;
        display: inline-block !important;
        width: 47% !important;
        margin: 5px !important;
      }
    
      .card-title {
        margin: 0px;
        background: rgba(0,7,36,.5);
        display: block;  
        position: absolute;
        bottom: 27px;
        font-size: 1em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .card-subtitle {
        img{
            display: inline-block;
            width: 20px;
            height: 20px;
        }
        p{
            display: inline-block;
            margin: 0px;
            color: #ffF;
            margin-right: 2px;
        }
        display: flex !important;
        align-items: center;
        justify-content: center;  
        display: block; 
        background-color: #000724;  
        font-size: 1.0em;
        bottom: 0px;
        width: 100%;
        color: #fff;
        margin: 0px;
        height: 27px;
      }

}
