page-challenges {
    .scroll-content{
        padding: 0px !important;
    }
    .spacer{
        width: 100%;
        height: 20px;
    }
    .container-challenger{
        margin-top: 10px;
        border: 2.5px solid #02103a;
        border-bottom:  2px solid #02103a !important;
        border-top:  2px solid #02103a !important;
        margin-top: 15px !important;
        box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.75);
    }
    .background{
        background: #6488c1;
    }
    .value-challenge{
        height: 70px;
        border-top: 1px solid #02103a;
        border-bottom: 1px solid #02103a;
        background: #30476b;
        //display: flex;
        //align-items: center;
    }

    .text-challenge{
        float: left;
        width: 80%;
        padding: 10px;
        height: 100%;
        .text{
            float: left;
            margin: 0px;
            color: #b3c2df;  
            font-size: 13px;
            width: 85%;
        }
        p{
            height: 100%;
            padding-top: inherit !important;
            margin: 0px;
            float: right;
            color: #fff;
            padding-top: 2px;
        }
    }

    .reward{
        float: right;
        display: flex;
        align-items: center;
        width: 20%;
        background: #2d3650;
        height: 100%;
        padding-bottom: 6px;
        img{
            height: 30px;
            width: 30px;
            margin-left: .6em;
            margin-right: 5px;
            display: block;
        }
        span{
            margin-bottom: 5px;
            color: #f9da7c;
        }
    }
}
